{% extends 'base.html' %}

{% block header %}
<section id="about">
    <p>
        Opa, beleza? Me chamo <em>Lucas Sampaio</em> e sou desenvolvedor
        web lá na <a href="https://www.orama.com.br/">Órama</a>, onde
        programo em <code>Python</code>, <code>Django</code> e faço umas pontas
        no front-end, escrevendo, obviamente, <code>HTML</code>,
        <code>CSS</code> e <code>Javascript</code>.
    </p>
    <p>
        Nas horas vagas também programo em <code>Ruby</code> e <code>Rails</code>,
        além de uma ou outra linguagem, só pra aprender. Tá na lista estudar
        <code>clojure</code>, <code>perl</code>, <code>smalltalk</code>,
        <code>erlang</code>...
    </p>
</section>

<nav>
    <ul>
        <li><a class="icon-user" href="/sobre/">&nbsp;Sobre</a></li>
        <li><a class="icon-box" href="/arquivo/">&nbsp;Arquivo</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<header>


</header>

<section id="most-recent-posts">
    <h2>Os dez mais recentes</h2>

    <ul>
        {% for post in posts %}
            <li>
                <a href="/post/{{ post.slug }}">{{ post.title }}</a>
                <date>{{ post.published }}</date>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
