{% extends 'base.html' %}

{% block header %}
<section id="about">
    <p>
        Opa, beleza? Me chamo <em>Lucas Sampaio</em> e sou desenvolvedor
        web lá na <a href="https://www.orama.com.br/">Órama</a>, onde
        programo em <code>Python</code>, <code>Django</code> e faço umas pontas
        no front-end, escrevendo, obviamente, <code>HTML</code>,
        <code>CSS</code> e <code>Javascript</code>.
    </p>
    <p>
        Nas horas vagas também programo em <code>Ruby</code> e <code>Rails</code>,
        além de uma ou outra linguagem, só pra aprender. Tá na lista estudar
        <code>clojure</code>, <code>perl</code>, <code>smalltalk</code>,
        <code>erlang</code>...
    </p>
</section>

<nav>
    <ul>
        <li><a class="icon-user" href="{{ url_for('sobre') }}">&nbsp;Sobre</a></li>
        <li><a class="icon-box" href="{{ url_for('arquivo') }}">&nbsp;Arquivo</a></li>
        <li><a class="icon-mail" href="mailto:me@lsmagalhaes.com">&nbsp;Contato</a></li>
    </ul>

    <div class="clear"></div>
</nav>
{% endblock %}

{% block content %}
<header>


</header>

<section id="posts">
    <h2>Os dez mais recentes</h2>

    <ul>
        {% for post in posts %}
            <li>
                <span>
                    {% if post.link %}
                        <a class="via" href="{{ url_for('post', title= post.slug) }}">&#x1525;</a>
                        <a href="{{ post.link }}">{{ post.title }}</a>
                    {% else %}
                        <a href="{{ url_for('post', title= post.slug) }}">{{ post.title }}</a>
                    {% endif %}
                </span>
                <date class="index">{{ post.published }}</date>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
