{% extends 'base.html' %}

{% block content %}
<section id="post">
    <header>
        <h2>
            {% if post.link %}
                <a class="via" href="{{ url_for('post', title= post.slug) }}">&#x1525;</a>
                <a href="{{ post.link }}">{{ post.title }}</a>
            {% else %}
                <a href="{{ url_for('post', title= post.slug) }}">{{ post.title }}</a>
                <span class="clear"></span>
            {% endif %}
        </h2>
        <date>{{ post.published }}</date>
    </header>

    <div class="clear"></div>

    <article>
        {{ post.html | safe }}
    </article>

    <a href="{{ url_for('post', title=post.slug) }}#disqus_thread">&rarr; Comentários</a>
</section>

<section id="posts">
    <h2>Outros posts recentes</h2>

    <ul>
        {% for post in posts %}
            <li>
                <span>
                    {% if post.link %}
                        <a class="via" href="{{ url_for('post', title= post.slug) }}">&#x1525;</a>
                        <a href="{{ post.link }}">{{ post.title }}</a>
                    {% else %}
                        <a href="{{ url_for('post', title= post.slug) }}">{{ post.title }}</a>
                    {% endif %}
                </span>
                <date>{{ post.published }}</date>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('arquivo') }}">&rarr; Todos os artigos</a>
</section>
{% endblock %}
