{% extends 'base.html' %}

{% block title %}
{{ post.title }} - L. S. Magalhães
{% endblock %}

{% block content %}
<section>
    <header>
        <h2>
            {% if post.link %}
                <a class="via" href="{{ url_for('post', title= post.slug) }}">&#x1525;</a>
                <a href="{{ post.link }}">{{ post.title }}</a>
            {% else %}
                <a href="{{ url_for('post', title= post.slug) }}">{{ post.title }}</a>
            {% endif %}
        </h2>
        <date class="post">{{ post.published }}</date>
    </header>

    <div class="clear"></div>

    <article>
        {{ post.html | safe }}
    </article>
</section>

<nav id="article-bottom-nav">
    <ul>
        <li><a class="icon-home" href="http://www.lsmagalhaes.com/">&nbsp;Home</a></li>
        <li><a class="icon-box" href="{{ url_for('arquivo') }}">&nbsp;Arquivo</a></li>
        <li><a class="icon-mail" href="mailto:me@lsmagalhaes.com">&nbsp;Contato</a></li>
    </ul>
</nav>

<div class="clear"></div>
{% endblock %}
