    {% extends 'base.html' %}

{% block title %}
{{ post.title }} - L. S. Magalhães
{% endblock %}

{% block content %}
<section>
    <header>
        <h2><a href="/post/{{ post.slug }}/">{{ post.title }}</a></h2>
    </header>

    <article>
        {{ post.html | safe }}
    </article>
</section>

<nav id="article-bottom-nav">
    <ul>
        <li>
            <a class="icon-home" href="http://www.lsmagalhaes.com/">&nbsp;Home</a>
        </li>
        <li>
            <a class="icon-mail" href="mailto:me@lsmagalhaes.com">&nbsp;Contato</a>
        </li>
    </ul>
</nav>
{% endblock %}
