{% extends 'base.html' %}

{% block title %}
Sobre - L. S. Magalhães
{% endblock %}

{% block content %}
<section>
    <header>
        <h2>Sobre</h2>
    </header>

    <article>
        <p>
            Então, me chamo Lucas Sampaio, e sou
            viciado em programação desde quando comecei a engatinhar na faculdade,
            começando com <code>Haskell</code>. Hoje sou programador
            <code>Python</code> por profissão, mas vivo namorando <code>Ruby</code>
            nos horários livres, culpa do Rails e do Sinatra, claro.
        </p>
        <p>
            Comecei cursando Engenharia de Computação em 2009 mas não terminei.
            Recentemente (setembro/2012) abandonei o curso pra trabalhar e aprender
            de verdade no Rio de Janeiro, e cá estou, trabalhando na
            <a href="http://www.orama.com.br">Órama</a> =D
        </p>
        <p>
            Esse blog serve pra compartilhar meus conhecimento e ideias loucas
            a respeito dessa área <em>sinistra</em>. Curto muito aprender novas
            linguagens de programação, com todas as suas ideias e
            paradigmas diferentes, tipo <code>lisp</code>, <code>erlang</code>,
            <code>Go</code>, etc... ainda conhecerei cada uma delas. Também
            vivo pesquisando sobre bancos de dados NoSQL, em especial o MongoDB,
            que é o que tive maior contato até agora, e bancos de dados orientados
            à grafos, que me fascinam.
        </p>
        <p>
            Também tenho interesse pela Web Semântica desde quando
            aprendi ontologias, RDF e tudo o mais na faculdade.  Este é, inclusive,
            meu principal interesse nas horas vagas... como elaborar sistemas
            capazes de usar a semântica para entregar resultados mais interessanes
            e etc.
        </p>
        <p>
            E é isso... a propósito, eu to sempre aberto a juntar uma galera
            e aprendermos, juntos, algo novo. Já organizei uns eventos de TI
            e continuo fazendo isso. Se tiver interesse em bater um papo sobre
            isso ou qualquer outra coisa aleatória, meus contatos tão todos
            aqui embaixo ;)
        </p>
        <p>
            <ul>
                <li><a href="http://www.linkedin.com/in/lsmagalhaes">LinkedIn</a></li>
                <li><a href="http://www.facebook.com/lucas.s.magalhaes">Facebook</a></li>
                <li><a href="https://twitter.com/lsmagalhaes">Twitter</a></li>
                <li>GTalk+email: me@lsmagalhaes.com</li>
            </ul>
        </p>
    </article>
</section>
{% endblock %}
